<section
  class="shadow-sm"
  [ngClass]="{ rtl: currentLang === 'ar', ltr: currentLang !== 'ar' }"
>
  <nav class="container mx-auto flex items-center justify-between p-4">
    <div class="logo transition-transform duration-300 hover:scale-105">
      <a
        (click)="toggleNav()"
        routerLink="home"
        routerLinkActive="text-green-500 font-semibold px-0 m-0 flex justify-end"
        class="hover:text-green-400 transition-colors duration-300 text-nowrap"
      >
        <img class="w-12 md:w-16" [src]="getLogoPath()" alt="Evento Logo" />
      </a>
    </div>

    <div class="hidden lg:block flex-grow">
      <ul class="flex justify-center space-x-6">
        <li *ngFor="let item of navItems" class="flex text-xl m-0 px-3">
          <a
            [routerLink]="item.route"
            routerLinkActive="text-green-500 font-semibold px-0 m-0 flex justify-end"
            class="hover:text-green-400 transition-colors duration-300 text-nowrap"
          >
            {{ item.label | translate }}
          </a>
        </li>
      </ul>
    </div>

    <div class="hidden lg:flex items-center gap-1">
      <button class="btn btn-outline text-nowrap">
        {{ "Log In" | translate }}
      </button>
      <button class="btn btn-outline text-nowrap">
        {{ "Create New Account" | translate }}
      </button>
      <button (click)="toggleLanguage()" class="btn btn-ghost text-nowrap">
        {{ currentLang === "en" ? "ع" : "En" }}
        <i class="fas fa-globe ml-1"></i>
      </button>
    </div>

    <button
      type="button"
      aria-label="toggle menu"
      (click)="toggleNav()"
      [class.active]="isNavOpen"
      class="lg:hidden p-2 rounded-md hover:bg-gray-200 focus:outline-none"
    >
      <i
        class="fas transition-transform duration-300 ease-in-out"
        [class.fa-bars]="!isNavOpen"
        [class.fa-times]="isNavOpen"
        [class.rotate-90]="isNavOpen"
      ></i>
    </button>

    <ul
      class="lg:hidden flex flex-col w-full py-3 bg-slate-50 absolute left-0 right-0 top-20 transition-all duration-300 ease-in-out overflow-hidden z-[999]"
      [class.max-h-0]="!isNavOpen"
      [class.max-h-[500px]]="isNavOpen"
      [class.opacity-0]="!isNavOpen"
      [class.opacity-100]="isNavOpen"
      [class.invisible]="!isNavOpen"
      [class.visible]="isNavOpen"
    >
      <li
        *ngFor="let item of navItems; let i = index"
        class="container text-[1.25rem] flex justify-start text-gray-700 py-3 font-medium hover:text-blue-500 transition-all duration-300 cursor-pointer"
        [style.transform]="isNavOpen ? 'translateY(0)' : 'translateY(-100%)'"
        [style.opacity]="isNavOpen ? '1' : '0'"
        [style.transition-delay]="i * 50 + 'ms'"
      >
        <a
          (click)="toggleNav()"
          [routerLink]="item.route"
          routerLinkActive="text-green-500 font-semibold px-0 m-0 flex justify-end"
          class="hover:text-green-400 transition-colors duration-300 text-nowrap"
        >
          {{ item.label | translate }}
        </a>
      </li>
      <div class="container flex justify-start gap-2">
        <button class="btn btn-outline text-nowrap">
          {{ "Log In" | translate }}
        </button>
        <button class="btn btn-outline text-nowrap">
          {{ "Create New Account" | translate }}
        </button>
        <button (click)="toggleLanguage()" class="btn-ghost text-nowrap">
          {{ currentLang === "en" ? "ع" : "En" }}
          <i class="fas fa-globe ml-1"></i>
        </button>
      </div>
    </ul>
  </nav>
</section>
