.btn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
}

.btn-outline {
  border: 1px solid #d1d5db;
  color: #374151;
}
.btn-outline:hover {
  background-color: #f3f4f6;
}

.btn-primary {
  background-color: #10b981;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #059669;
}

.btn-ghost {
  color: #374151;
}
.btn-ghost:hover {
  background-color: #f3f4f6;
}
