<!-- <section class="l-homePage-events ng-star-inserted">
  <div class="container">
    <header class="homeEvents-head">
      <div class="d-flex align-items-center flex-wrap">
        <h2 class="homeEvents-sectitle">Latest Events</h2>
      </div>
    </header>
    <div class="row">
      <div class="col-12 col-md-4 ng-star-inserted">
        <app-event-card
          ><div class="eventCard ng-star-inserted" tabindex="0">
            <div class="cover ratio-wrapper">
              <img
                alt=""
                class="ratio-wrapper__el"
                src="https://storage.googleapis.com/evento_prod_bucket/images/826c1e70-4d9e-11ef-a825-413ce7de28ef.png"
              />
            </div>
            <div class="body">
              <h4>طبب التاريخية</h4>
              <p class="date">Monday, Aug 5, 2024, 4:00:00 PM</p>
              <div>
                <span
                  class="category"
                  style="background-color: rgb(228, 180, 0)"
                  >مهرجان</span
                >
              </div>
            </div>
          </div>
        </app-event-card>
      </div>
      <div class="col-12 col-md-4 ng-star-inserted">
        <app-event-card
          ><div class="eventCard ng-star-inserted" tabindex="0">
            <div class="cover ratio-wrapper">
              <img
                alt=""
                class="ratio-wrapper__el"
                src="https://storage.googleapis.com/evento_prod_bucket/images/2ce691c0-4b36-11ef-811c-1b96958d8aa9.png"
              />
            </div>
            <div class="body">
              <h4>سحابة في ابها</h4>
              <p class="date">Saturday, Aug 31, 2024, 4:00:00 PM</p>
              <div>
                <span
                  class="category"
                  style="background-color: rgb(228, 180, 0)"
                  >مهرجان</span
                >
              </div>
            </div>
          </div>
        </app-event-card>
      </div>
      <div class="col-12 col-md-4 ng-star-inserted">
        <app-event-card
          ><div class="eventCard ng-star-inserted" tabindex="0">
            <div class="cover ratio-wrapper">
              <img
                alt=""
                class="ratio-wrapper__el"
                src="https://storage.googleapis.com/evento_prod_bucket/images/dac7ff30-490c-11ef-8365-b5c02d88803a.png"
              />
            </div>
            <div class="body">
              <h4>فعالية ارياش</h4>
              <p class="date">Tuesday, Jul 30, 2024, 4:00:00 PM</p>
              <div>
                <span
                  class="category"
                  style="background-color: rgb(228, 180, 0)"
                  >مهرجان</span
                >
              </div>
            </div>
          </div>
        </app-event-card>
      </div>
      <div class="col-12 col-md-4 ng-star-inserted">
        <app-event-card
          ><div class="eventCard ng-star-inserted" tabindex="0">
            <div class="cover ratio-wrapper">
              <img
                alt=""
                class="ratio-wrapper__el"
                src="https://storage.googleapis.com/evento_prod_bucket/images/e07e8390-4817-11ef-ae35-f7760a549c57.png"
              />
            </div>
            <div class="body">
              <h4>فعالية ملفى</h4>
              <p class="date">Tuesday, Jul 30, 2024, 4:00:00 PM</p>
              <div>
                <span
                  class="category"
                  style="background-color: rgb(228, 180, 0)"
                  >مهرجان</span
                >
              </div>
            </div>
          </div>
        </app-event-card>
      </div>
      <div class="col-12 col-md-4 ng-star-inserted">
        <app-event-card
          ><div class="eventCard ng-star-inserted" tabindex="0">
            <div class="cover ratio-wrapper">
              <img
                alt=""
                class="ratio-wrapper__el"
                src="https://storage.googleapis.com/evento_prod_bucket/images/d6c41a40-4687-11ef-bc07-790d3bdf1522.png"
              />
            </div>
            <div class="body">
              <h4>Southwest cowboy town</h4>
              <p class="date">Tuesday, Aug 6, 2024, 4:30:00 PM</p>
              <div>
                <span
                  class="category"
                  style="background-color: rgb(228, 180, 0)"
                  >مهرجان</span
                >
              </div>
            </div>
          </div>
        </app-event-card>
      </div>
      <div class="col-12 col-md-4 ng-star-inserted">
        <app-event-card
          ><div class="eventCard ng-star-inserted" tabindex="0">
            <div class="cover ratio-wrapper">
              <img
                alt=""
                class="ratio-wrapper__el"
                src="https://storage.googleapis.com/evento_prod_bucket/images/8def0310-99d1-11ee-a8ad-010b96ee1452.png"
              />
            </div>
            <div class="body">
              <h4>MYADEEN Membership</h4>
              <p class="date">Wednesday, Jul 31, 2024, 4:00:00 PM</p>
              <div>
                <span class="category" style="background-color: rgb(7, 125, 85)"
                  >رياضة</span
                >
              </div>
            </div>
          </div>
        </app-event-card>
      </div>
      <div class="col-12 col-md-4 ng-star-inserted">
        <app-event-card
          ><div class="eventCard ng-star-inserted" tabindex="0">
            <div class="cover ratio-wrapper">
              <img
                alt=""
                class="ratio-wrapper__el"
                src="https://storage.googleapis.com/evento_prod_bucket/images/2dcd30b0-8d56-11ee-b3c3-4795f236d89c.png"
              />
            </div>
            <div class="body">
              <h4>MAYDEEN</h4>
              <p class="date">Saturday, Aug 31, 2024, 4:00:00 PM</p>
              <div>
                <span class="category" style="background-color: rgb(7, 125, 85)"
                  >رياضة</span
                >
              </div>
            </div>
          </div>
        </app-event-card>
      </div>
    </div>
    <div class="homeEvents-more text-center mt-5">
      <a class="btn homeEvents-moreBtn" href="/events"> More events </a>
    </div>
  </div>
</section> -->


<section class="l-homePage-events">
    <div class="container">
      <header class="homeEvents-head">
        <div class="d-flex align-items-center flex-wrap">
          <h2 class="homeEvents-sectitle">Latest Events</h2>
        </div>
      </header>
      <div class="row">
        <div *ngFor="let event of events; trackBy: trackByEventId" class="col-12 col-md-4">
          <app-event-card [event]="event"></app-event-card>
        </div>
      </div>
      <div class="homeEvents-more text-center mt-5">
        <a class="btn homeEvents-moreBtn" href="/events">More events</a>
      </div>
    </div>
  </section>